body {
    margin                  : 0;
    font-family             : -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

code {
    font-family : source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
    background-color : #000;
}

.arrow {
    cursor: pointer;
}
.h-75 { min-height: 80vh }
.h-10 { height: 10vh }
.h-5 { min-height: 10vh }

/* Social Icons
-------------------------------------------------------*/

.social-icons a {
    margin                      : 0 3px 6px 0;
    display                     : inline-block;
    width                       : 32px;
    height                      : 32px;
    color                       : #7a7a7a;
    background-color            : #f2f2f2;
    line-height                 : 32px;
    text-align                  : center;
    font-size                   : 13px;
    -webkit-transition          : all .3s ease-in-out;
    -moz-transition             : all .3s ease-in-out;
    -o-transition               : all .3s ease-in-out;
    transition                  : all .3s ease-in-out;
    -webkit-backface-visibility : hidden;
    backface-visibility         : hidden;
}

.social-icons.rounded a {
    -webkit-border-radius : 50%;
    -moz-border-radius    : 50%;
    -ms-border-radius     : 50%;
    -o-border-radius      : 50%;
    border-radius         : 50%;
}


.social-icons.transparent a {
    background-color : transparent;
}

.social-icons.dark a {
    background-color : #252525;
}

.social-icons:not(.colored) a:hover {
    color            : #fff;
    background-color : #636767;
}